# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [135]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import gmaps
import os
from pprint import pprint
from urllib.parse import urlencode

# Import API key
#from api_keys import g_key
# Google developer API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)
print(gkey)

AIzaSyBHl782czWp_WQCgfGXmKS0LCNWceQBe18

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [136]:
# Create vacation dataframe
#clean_city_data_df.to_csv('../Resources/city_output.csv')
vacation_df = pd.read_csv('../Resources/city_output.csv')
#vacation_df = vacation_df.drop(columns="Unnamed: 0")
vacation_df.head()

,Unnamed: 0,city_num,city,country,date,humidity,cloudiness,lat,long,maxtemp,windspeed
0,0,1,São João da Barra,BR,1619458501,62,40,-21.6403,-41.0511,303.15,3.09
1,1,2,New Norfolk,AU,1619458501,77,15,-42.7826,147.0587,282.04,1.27
2,2,3,Dhenkānāl,IN,1619458502,89,40,20.6667,85.6000,301.15,4.63
3,3,4,Ormara,PK,1619458502,81,6,25.2088,64.6357,300.76,5.42
4,4,5,Buta,CD,1619458502,81,61,2.7858,24.7300,295.51,0.75

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [147]:
# Store latitude and longitude in locations
locations = vacation_df[["lat", "long"]]
weights = vacation_df["humidity"].astype(float)

fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weights, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=300)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [138]:
#vacation_df.dropna(inplace = True) max temp, cloudiness = 0, wind speed <10, 70> <80
city_weather_df = vacation_df.copy()
city_weather_df.dropna(inplace = True) 
city_weather_df

,Unnamed: 0,city_num,city,country,date,humidity,cloudiness,lat,long,maxtemp,windspeed
0,0,1,São João da Barra,BR,1619458501,62,40,-21.6403,-41.0511,303.15,3.09
1,1,2,New Norfolk,AU,1619458501,77,15,-42.7826,147.0587,282.04,1.27
2,2,3,Dhenkānāl,IN,1619458502,89,40,20.6667,85.6000,301.15,4.63
3,3,4,Ormara,PK,1619458502,81,6,25.2088,64.6357,300.76,5.42
4,4,5,Buta,CD,1619458502,81,61,2.7858,24.7300,295.51,0.75
...,...,...,...,...,...,...,...,...,...,...,...
472,576,617,Ekhabi,RU,1619458765,86,10,53.5102,142.9671,268.31,3.53
473,577,618,Sabha,LY,1619458765,15,6,27.0377,14.4283,303.50,4.87
474,578,619,Nanhai,CN,1619458766,88,75,30.1282,111.7784,288.15,0.42
475,579,620,Okhotsk,RU,1619458766,84,64,59.3833,143.3000,265.65,1.47
476,580,621,Hailar,CN,1619458767,74,37,49.2000,119.7000,276.88,10.27

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [139]:
#Search for hotel in cities and assign to a new column in hotel_df
hotelname = []
hotel_df = city_weather_df.copy()
params = {}
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

for index, row in hotel_df.iterrows():
    # get city name, lat, lng from df
    lat = row["lat"]
    lng = row["long"]
    city_name = row["city"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"
    params["radius"] = "5000"
    params["type"] = "hotel"
    params['keyword'] = 'hotel'
    params["key"] = gkey 
    
    url_params = urlencode(params)
    # assemble url and make API request
    #print(f"Retrieving Results for Index {index}: {city_name}.")
    query_string = base_url+url_params
    #pprint(query_string)
    
     # save the hotel name to dataframe
    try:
        response = requests.get(query_string).json() 
    
        # extract results
        results = response['results'] 

        #print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
        time.sleep(.2)
        
    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print(f"{index} - There isn't any hotel in a 5000m radius.")
    #print("------------")

    # Print end of search once searching is completed
#print("-------End of Search-------")
hotel_df

1 - There isn't any hotel in a 5000m radius.
8 - There isn't any hotel in a 5000m radius.
9 - There isn't any hotel in a 5000m radius.
12 - There isn't any hotel in a 5000m radius.
18 - There isn't any hotel in a 5000m radius.
19 - There isn't any hotel in a 5000m radius.
27 - There isn't any hotel in a 5000m radius.
37 - There isn't any hotel in a 5000m radius.
38 - There isn't any hotel in a 5000m radius.
41 - There isn't any hotel in a 5000m radius.
48 - There isn't any hotel in a 5000m radius.
49 - There isn't any hotel in a 5000m radius.
50 - There isn't any hotel in a 5000m radius.
51 - There isn't any hotel in a 5000m radius.
56 - There isn't any hotel in a 5000m radius.
65 - There isn't any hotel in a 5000m radius.
67 - There isn't any hotel in a 5000m radius.
102 - There isn't any hotel in a 5000m radius.
103 - There isn't any hotel in a 5000m radius.
106 - There isn't any hotel in a 5000m radius.
111 - There isn't any hotel in a 5000m radius.
113 - There isn't any hotel in a 5000m radius.
125 - There isn't any hotel in a 5000m radius.
141 - There isn't any hotel in a 5000m radius.
155 - There isn't any hotel in a 5000m radius.
167 - There isn't any hotel in a 5000m radius.
169 - There isn't any hotel in a 5000m radius.
173 - There isn't any hotel in a 5000m radius.
181 - There isn't any hotel in a 5000m radius.
187 - There isn't any hotel in a 5000m radius.
189 - There isn't any hotel in a 5000m radius.
221 - There isn't any hotel in a 5000m radius.
223 - There isn't any hotel in a 5000m radius.
228 - There isn't any hotel in a 5000m radius.
231 - There isn't any hotel in a 5000m radius.
232 - There isn't any hotel in a 5000m radius.
233 - There isn't any hotel in a 5000m radius.
234 - There isn't any hotel in a 5000m radius.
236 - There isn't any hotel in a 5000m radius.
249 - There isn't any hotel in a 5000m radius.
252 - There isn't any hotel in a 5000m radius.
256 - There isn't any hotel in a 5000m radius.
258 - There isn't any hotel in a 5000m radius.
273 - There isn't any hotel in a 5000m radius.
274 - There isn't any hotel in a 5000m radius.
276 - There isn't any hotel in a 5000m radius.
298 - There isn't any hotel in a 5000m radius.
299 - There isn't any hotel in a 5000m radius.
302 - There isn't any hotel in a 5000m radius.
309 - There isn't any hotel in a 5000m radius.
310 - There isn't any hotel in a 5000m radius.
315 - There isn't any hotel in a 5000m radius.
328 - There isn't any hotel in a 5000m radius.
332 - There isn't any hotel in a 5000m radius.
338 - There isn't any hotel in a 5000m radius.
339 - There isn't any hotel in a 5000m radius.
342 - There isn't any hotel in a 5000m radius.
355 - There isn't any hotel in a 5000m radius.
357 - There isn't any hotel in a 5000m radius.
359 - There isn't any hotel in a 5000m radius.
376 - There isn't any hotel in a 5000m radius.
379 - There isn't any hotel in a 5000m radius.
388 - There isn't any hotel in a 5000m radius.
399 - There isn't any hotel in a 5000m radius.
406 - There isn't any hotel in a 5000m radius.
407 - There isn't any hotel in a 5000m radius.
408 - There isn't any hotel in a 5000m radius.
415 - There isn't any hotel in a 5000m radius.
417 - There isn't any hotel in a 5000m radius.
419 - There isn't any hotel in a 5000m radius.
422 - There isn't any hotel in a 5000m radius.
430 - There isn't any hotel in a 5000m radius.
435 - There isn't any hotel in a 5000m radius.
439 - There isn't any hotel in a 5000m radius.
444 - There isn't any hotel in a 5000m radius.
447 - There isn't any hotel in a 5000m radius.
450 - There isn't any hotel in a 5000m radius.
454 - There isn't any hotel in a 5000m radius.
459 - There isn't any hotel in a 5000m radius.
461 - There isn't any hotel in a 5000m radius.
463 - There isn't any hotel in a 5000m radius.
466 - There isn't any hotel in a 5000m radius.
468 - There isn't any hotel in a 5000m radius.
472 - There isn't any hotel in a 5000m radius.

,Unnamed: 0,city_num,city,country,date,humidity,cloudiness,lat,long,maxtemp,windspeed,Hotel Name
0,0,1,São João da Barra,BR,1619458501,62,40,-21.6403,-41.0511,303.15,3.09,Pousada Kactus
1,1,2,New Norfolk,AU,1619458501,77,15,-42.7826,147.0587,282.04,1.27,NaN
2,2,3,Dhenkānāl,IN,1619458502,89,40,20.6667,85.6000,301.15,4.63,OYO 63210 Nirupama Hotels
3,3,4,Ormara,PK,1619458502,81,6,25.2088,64.6357,300.76,5.42,Alqadri hotel zero point ormara
4,4,5,Buta,CD,1619458502,81,61,2.7858,24.7300,295.51,0.75,HOTEL BISO NA BISO
...,...,...,...,...,...,...,...,...,...,...,...,...
472,576,617,Ekhabi,RU,1619458765,86,10,53.5102,142.9671,268.31,3.53,NaN
473,577,618,Sabha,LY,1619458765,15,6,27.0377,14.4283,303.50,4.87,فندق علي
474,578,619,Nanhai,CN,1619458766,88,75,30.1282,111.7784,288.15,0.42,Songzi International Hotel
475,579,620,Okhotsk,RU,1619458766,84,64,59.3833,143.3000,265.65,1.47,Prozhivaniye V Okhotske
476,580,621,Hailar,CN,1619458767,74,37,49.2000,119.7000,276.88,10.27,Hulunbeir Hotel

In [140]:
hotel_df = hotel_df.dropna()
# Make adjustmentss to hotel_df, calculate;
# 1. A max temperature lower than 80 degrees but higher than 70.
# 2. Wind speed less than 10 mph.
# 3. Zero cloudiness.
hotel_df = hotel_df.loc[(hotel_df.maxtemp < 290) & (hotel_df.maxtemp > 270)]
hotel_df = hotel_df.loc[hotel_df.windspeed < 10]
hotel_df = hotel_df.loc[hotel_df.cloudiness == 0]
hotel_df

,Unnamed: 0,city_num,city,country,date,humidity,cloudiness,lat,long,maxtemp,windspeed,Hotel Name
26,34,39,Nizip,TR,1619458515,47,0,37.0097,37.7942,288.15,4.83,BEĞER OTEL
29,39,45,Lebu,CL,1619458492,67,0,-37.6167,-73.6500,288.78,5.75,Hotel Plaza Lebu
46,58,66,Angoulême,FR,1619458525,63,0,45.6500,0.1500,289.82,1.03,Hôtel Saint Gelais
60,75,85,Abhā,SA,1619458533,77,0,18.2164,42.5053,288.15,2.06,Sarawat Park Hotel & Resort
76,93,103,Noshiro,JP,1619458541,64,0,40.2039,140.0242,276.65,1.00,Hotel Route-Inn Noshiro
82,99,111,Husavik,IS,1619458544,70,0,66.0449,-17.3389,277.15,4.63,Fosshotel Húsavík
93,111,125,Arrondissement de Saint-Malo,FR,1619458549,58,0,48.5000,-1.8333,286.15,5.66,"Hotel de l'Abbaye, BW Premier Collection"
121,143,160,Potosí,BO,1619458564,10,0,-19.5836,-65.7531,285.06,2.01,Coloso
122,144,161,Yulara,AU,1619458564,41,0,-25.2406,130.9889,287.15,3.60,Sails in the Desert
131,155,172,Hervey Bay,AU,1619458569,82,0,-25.2986,152.8535,289.82,3.09,Oaks Hervey Bay Resort and Spa
150,184,204,Parkes,AU,1619458581,78,0,-33.1333,148.1833,279.82,1.73,Hotel Gracelands
183,223,245,Witney,GB,1619458599,40,0,51.7836,-1.4854,286.15,3.09,Oxford Witney Hotel
229,277,301,Nagato,JP,1619458623,82,0,34.3833,131.2000,285.15,1.54,KULABO Taishokan
238,290,315,Örnsköldsvik,SE,1619458628,64,0,63.2909,18.7153,275.15,3.09,Elite Plaza Hotel Örnsköldsvik
251,305,331,Port Lincoln,AU,1619458635,79,0,-34.7333,135.8667,289.10,3.28,Port Lincoln Hotel
255,310,337,Mariinskiy Posad,RU,1619458637,45,0,56.1150,47.7180,279.15,5.00,СПА-отель Жуковское
290,353,383,Velika Plana,RS,1619458657,44,0,44.3339,21.0768,289.15,2.06,Hotel Vir
331,396,431,Gawler,AU,1619458677,77,0,-34.6000,138.7333,285.93,3.13,The Palms
370,446,485,Årdalstangen,NO,1619458701,33,0,61.2371,7.6983,279.15,1.03,Klingenberg Hotel AS
390,471,510,Dali,CN,1619458714,45,0,25.7000,100.1833,287.68,2.36,Sunyata Hotel
401,482,522,Vestmannaeyjar,IS,1619458720,71,0,63.4427,-20.2734,282.15,4.12,Hotel Vestmannaeyjar
403,486,526,Sukhobuzimskoye,RU,1619458722,80,0,56.5000,93.2728,273.15,1.68,Sberbank Rossii
434,526,566,Moree,AU,1619458741,82,0,-29.4667,149.8500,284.15,5.14,Artesian Spa Motel
437,529,569,Haines Junction,CA,1619458743,48,0,60.7522,-137.5108,277.15,1.03,Parkside Inn
462,561,602,Chornyanka,UA,1619458758,70,0,46.6522,33.3590,280.93,2.00,Zolotoy Fazan
464,564,605,Biloela,AU,1619458759,88,0,-24.4167,150.5000,287.65,2.52,Hotel Settlers

In [141]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "long"]]

In [142]:
# Create a map using state centroid coordinates to set markers
marker_locations = locations

# Create a marker_layer 
#fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations, info_box_content=hotel_info) 

fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))